<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.study.admin.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.study.admin.entities.Role">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="flag" property="flag" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findByFlag" resultType="integer">
        select * from tb_role where flag = #{flag};
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select * from tb_role;
    </select>
    <insert id="addRole" >
        INSERT INTO tb_role(name ,description) VALUES(#{name},#{description});
    </insert>
    <update id="updateRole">
        update tb_role set name=#{name},description=#{description} where id = #{id};
    </update>

    <select id="selectPage" resultMap="BaseResultMap">
        select * from tb_role where name like concat('%',#{name},'%') order by create_time desc limit #{pageNum},#{pageSize} ;
    </select>
    <select id="selectTotal" resultType="integer">
        select count(*) from tb_role where name like concat('%',#{name},'%');
    </select>
    <delete id="deleteById">
        delete from tb_role where id = #{id};
    </delete>
    <delete id="deleteBatchRole">
        delete from tb_role where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>





