<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.study.front.dao.PsychologyClassDao">

    <resultMap id="BaseResultMap" type="com.study.front.entities.PsychologyClass">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="class_name" property="className" jdbcType="BIGINT"/>


    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from tb_psychology_class order by id asc;
    </select>

    <insert id="insertArticle" parameterType="com.study.front.entities.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_article(user_id,class_parent_id,title,content,file_id) VALUES(#{userId},#{classId},#{title},#{content},#{fileId});
    </insert>

    <!--    <select id="getAdminUserById" parameterType="integer" resultMap="BaseResultMap" >-->
    <!--        SELECT * FROM tb_admin WHERE id=#{id};-->
    <!--    </select>-->
    <!--    <update id="updateAdminById" parameterType="com.study.admin.entities.User">-->
    <!--        update tb_admin set avatar_url = #{user.avatarUrl} where id = #{id};-->
    <!--    </update>-->

</mapper>





